@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>
Hello<b> @Model.Vorname</b>

<p>Use this area to provide additional information.</p>

Nachname: @ViewData["Nachname"]
